<%- include('./partials/header.ejs'); -%>

    <% console.log("I'm here") %>
    <% console.log(ele.textInput) %>
    <h2>  <%= ele.textInput %> </h2>
    <p> <%= ele.message.toString() %></p>


<%- include('./partials/footer.ejs'); -%>